html
    head
        title CoffeePal Summary
        link(rel="stylesheet", type="text")
        link(rel="stylesheet" href="/css/header.css" type="text/css")
        link(rel="stylesheet" href="/css/icon-pop.css" type="text/css")
        link(rel="stylesheet" href="/css/overline-centre.css" type="text/css")
    body
        .header
            a.headeritem.hvr-overline-from-center(href="/") Home
            a.headeritem.hvr-overline-from-center.headeritem(href="/products") Products
            a.headeritem(href=url) <img class="hvr-pop" src="https://www.bnrconvention.com/wp-content/uploads/2017/04/coffee-icon-1.png" width="34px" height="34px">
            a.headeritem.hvr-overline-from-center.headeritem(href="/summary") Summary
            a.headeritem.hvr-overline-from-center.headeritem(href="/about") About
        br
        h1.title CoffeePal Summary
        p Hello, #{user}! These are the currently active coupons for CoffeePal:
        ul
            - var couponsArr = []
            a.hvr-overline-from-center(href="/summary" style="padding-right: 10px; padding-top:6px; text-decoration: none; color: #33ccff;") All
            for coupon in coupons
                if (!couponsArr.includes(coupon.valid_store))
                    - couponsArr.push(coupon.valid_store)
                    a.hvr-overline-from-center(href="?store=" + coupon.valid_store style="padding-right: 10px; padding-top:6px; text-decoration: none; color: #33ccff;")=coupon.valid_store

            br
            br
            for coupon in coupons
                if store !== undefined && store !== ""
                    if store === String(coupon.valid_store)
                        li= coupon.coupon_code
                else
                    li= coupon.coupon_code